/* =======RESET============================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }
  
  img {
    width: 35%;
    height: auto;
  }
  
  body {
    background: rgb(136,237,255);
background: radial-gradient(circle, rgba(136,237,255,1) 0%, rgba(0,216,255,1) 26%, rgba(39,83,206,1) 69%, rgba(0,35,132,1) 92%);
  }
  
  /* =======VARIABLES============================================ */
  :root {
    font-size: 150%;
    --color: rgb(0, 174, 255);
  }
  
  /* =======BASE================================================= */
  body {
    font: 400 1rem 'Nunito';
    color: whitesmoke;
  }
  
  .button {
    color: var(--color);
    width: 5rem;
  }
  
  .button img{
    width: 100px;
    height: 100px;
  }

  .button:hover {
    opacity: 0.5;
  }
  
  /* =======LAYOUT============================================== */
  #header {
    height: 7rem;
    
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    color: var(--color);
  }
  
  a {
    color: whitesmoke;
    text-decoration: underline;
   
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    text-transform: uppercase;
    font: 500 2.5rem 'Nunito';
    color: var(--color);
  }
  
  .logo span {
    color: whitesmoke;
  }

  .Totoro{
    margin-left: 15.50rem;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;

  }

  .Filmografia{
    margin-top: 2rem;
    text-align: center;
    color:rgb(0, 174, 255); 
    width: 100%;
  }

  p {
    text-align: justify;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
  }

  .Discografia{
    display: flex;
    justify-content:space-between
    
  }
 
  .container {
    margin-left: 8rem;
    margin-right: 8rem;
    background-color: rgba(0, 0, 0, 0.60);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 30px;
    
  }

  .video-container {
    position: relative;
    width: 100%;
    padding-bottom: 50%;  
  }
  .video-container iframe {
    position: absolute;
    margin-top: 2rem;
    left: 8rem;
    width: 70%;
    height: 90%;
}


  footer p{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.60);
    color: #fff;
    font-size: 0.9rem;
    margin-top: 50px;
    margin-left: 8rem;
    margin-right: 8rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
  
  
